{
  "presets": [
    "env",
    "react",
    "stage-2"
  ],

  "plugins": [
    "universal-import",
    "transform-decorators-legacy"
  ],

  "env": {
    "development": {
      "plugins": [
        "react-hot-loader/babel"
      ]
    }
  }
}
