body {
    margin: 0;
}

.app {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    height: 100%;
    width: 100%;
    background-size: contain;
    background: rgb(192, 18, 24) url('https://wallpapercave.com/wp/wp2305964.jpg') no-repeat center;
}

