.loginContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
}

.loginHeader {
    font-size: 160%;
    color: #000;
    font-weight: 600;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40px;
}

.loginBox {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 50px;
    background: rgba(0, 0, 0, 0.5);
    -webkit-box-shadow: 2px 2px 5px 0px rgba(41,0,0,1);
    -moz-box-shadow: 2px 2px 5px 0px rgba(41,0,0,1);
    box-shadow: 2px 2px 5px 0px rgba(41,0,0,1);
    color: #eee;
}

.loginFormInput {
    margin-top: 10px;
    margin-bottom: 10px;
}